{% extends "../_layouts/auth.njk" %}

{% block body %}

{% if userShared === undefined %}
<form action="/perfil_update" method="post" enctype="multipart/form-data">
  <label for="avatar" >
    {% if user.avatar === 'images/icons/man.svg' %}
      <img src="/{{user.avatar}}" height="100" alt="avatar">
    {% endif %}
    {% if user.avatar !== 'images/icons/man.svg' %}
      <img src="/files/{{user.avatar}}" height="100" alt="avatar">
    {% endif %}
  </label>
    <input type="file" name="avatar" id="avatar">
  <label for="name" >
    Nome
  </label>
    <input type="text" name="name" id="name" value="{{user.name}}">
  <label for="email" >
    E-mail
  </label>
    <input type="email" name="email" id="email" value="{{user.email}}" />
  <label for="bio" >
    Biografia
  </label>
    <textarea style="margin-bottom: 10px" type="text" cols="30" rows="10" name="bio" id="bio">{{user.bio}}</textarea>
  {# <label for="birth" >
    Data de nascimento
  </label>
    <input type="date" name="birth" id="birth" value="{{user.birth}}"> #}
  <label for="password" >
    Nova Senha
  </label>
    <input type="password" name="password" id="password" placeholder="***********" />
    <button type="submit">Concluir Edição</button>
    <a href="/feed"> Voltar</a>
  </form>
{% endif %}


{% if userShared %}
<div id="info-user">
{% if userShared.avatar === 'images/icons/man.svg' %}
  <img src="/{{userShared.avatar}}" height="100" alt="avatar">
{% endif %}
{% if userShared.avatar !== 'images/icons/man.svg' %}
  <img src="/files/{{userShared.avatar}}" height="100" alt="avatar">
{% endif %}
<strong>{{userShared.name}}</strong><br>
<strong>Bio: {{userShared.bio}}</strong>
<strong>E-mail: {{userShared.email}}</strong>
<strong>Data de Nascimento: {{userShared.birth.getDate()+1}}/{{userShared.birth.getMonth()+1}}/{{userShared.birth.getFullYear()}}</strong>
</div>
    <a href="/feed"> Voltar</a>
{% endif %}

<script type="text/javascript" >
    const avatarInput = document.getElementById("avatar");
    const imgAvatar = document.querySelector("label[for=avatar] img")
    avatarInput.onchange = function(e){
      imgAvatar.classList.add('preview');
      imgAvatar.src = URL.createObjectURL(e.target.files[0])
    }
  </script>

{% endblock %}

