{% extends "../_layouts/auth.njk" %}

{% block body %}
  <h1>Awesome</h1>

{% if emailExist %}
  <strong style="background-color:red; padding: 5px 10px; color:white;border-radius:20px; position:absolute; top:20px; left:20px" >O E-mail que você digitou já existe, tente entrar com este e-mail.</strong>
{% endif %}

{% if name === '' %}
  <strong style="background-color:red; padding: 5px 10px; color:white;border-radius:20px; position:absolute; top:20px; left:20px" >Você esqueceu de preencher o campo de Nome</strong>
{% endif %}

{% if email === '' %}
  <strong style="background-color:red; padding: 5px 10px; color:white;border-radius:20px; position:absolute; top:50px; left:20px" >Você esqueceu de preencher o campo de E-mail</strong>
{% endif %}

{% if password === '' %}
  <strong style="background-color:red; padding: 5px 10px; color:white;border-radius:20px; position:absolute; top:80px; left:20px" >Você esqueceu de preencher o campo de Senha</strong>
{% endif %}

{% if birth === '' %}
  <strong style="background-color:red; padding: 5px 10px; color:white;border-radius:20px; position:absolute; top:110px; left:20px" >Você esqueceu de preencher o campo de Nascimento</strong>
{% endif %}

<h2>Criar uma nova conta.</h2>
  <form action="/signup" method="post">
  <label for="name" >
    Digite seu nome e sobrenome
  </label>
    <input type="text" name="name" id="name" placeholder="Ex: Mark Zuckenberg">
  <label for="email" >
    Digite seu principal e-mail
  </label>
    <input type="email" name="email" id="email" placeholder="Ex: username@gmail.com" />
  <label for="birth" >
    Digite sua data de nascimento
  </label>
    <input type="date" name="birth" id="birth" placeholder="04/12/2018">
  <label for="password" >
    Digite sua senha
  </label>
    <input type="password" name="password" id="password" placeholder="***********" />
    <button type="submit">Criar conta</button>
    <a href="/"title="Voltar e logar na minha conta." > > Já tenho uma conta.</a>
  </form>
{% endblock %}
