{% include "../_partials/head.njk" %}
<body>
  {% include "../_partials/credits.njk" %}
  <h1 style="font-size:80px">Awesome</h1>
  <div id="auth-wrapper">
    {% block body %} {% endblock %}
  </div>
</body>
</html>
