/* [1] GERAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  word-wrap: wrap;
}

.content {
  max-width: 1200px;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: white;
  background: rgb(38, 28, 44);
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Unlock", cursive, "sans-serif";
}

input[type="file"] {
  display: none;
}

button,
input {
  outline: 0;
  background: blueviolet;
  font-family: "Raleway", sans-serif;
  border: none;
  margin-right: 3px;
}

button[type="submit"] {
  border-radius: 20px;
  padding: 10px 20px;
}

button[type="reset"] {
  background: rgb(41, 79, 204);
  border-radius: 20px;
  padding: 10px 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 10px;
}

a {
  color: dodgerblue;
  text-decoration: none;
  margin: 10px 0;
}

input {
  box-shadow: inset 0 0 0px 9999px white;
}

button {
  cursor: pointer;
  color: white;
  font-weight: 700;
}

/* [1] END-GERAL */

/* --------------------------------------------------------- */

/* [2] AUTH-TEMPLATE */

#auth-wrapper {
  padding: 10px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: 10px;
}

#auth-wrapper form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

#auth-wrapper form label {
  margin-bottom: 5px;
  color: rgb(174, 145, 212);
}

#auth-wrapper form input {
  padding: 10px 20px;
  width: 200px;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 20px;
  border: none;
}

#auth-wrapper h1 {
  font-size: 80px;
}

@media only screen and (max-width: 500px) {
  #auth-wrapper h1 {
    font-size: 55px;
  }
}

/* [2] END-AUTH-TEMPLATE */

/* --------------------------------------------------------- */

/* [3] FEED-TEMPLATE */

#feed-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#feed-wrapper aside#nav-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 300px;
  margin: 20px 10px;
  padding: 10px;
}

#feed-wrapper aside#nav-left #info-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feed-wrapper aside#nav-left #info-user p {
  font-family: sans-serif;
  margin: 10px 0;
}

#feed-wrapper aside#nav-left #info-user img {
  width: 100px;
  flex-shrink: 0;
  margin-bottom: 10px;
}

#feed-wrapper aside#nav-left #new-post {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feed-wrapper aside#nav-left #new-post form textarea {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#feed-wrapper section#feed {
  font-family: "sans-serif", arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feed-wrapper section#feed h2 {
  margin-top: 20px;
}

#feed-wrapper section#feed ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#feed-wrapper section#feed ul li {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#feed-wrapper section#feed #feed-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  width: 40px;
  padding: 3px;
  margin-right: 10px;
  height: 100%;
  border-radius: 10px;
}

#feed-wrapper section#feed #feed-left img {
  width: 25px;
}

#feed-wrapper section#feed #feed-main article {
  width: 600px;
  border-bottom: 2px dashed white;
  padding: 5px 5px 30px;
  word-wrap: break-word;
}
#feed-wrapper section#feed #feed-main img {
  width: 30px;
  margin: 0 5px;
}

#feed-wrapper section#feed #feed-main img[alt="clock-post"] {
  width: 20px;
}

#feed-wrapper section#feed #feed-main #info-post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #fff;
  color: rgb(27, 25, 25);
  padding: 0 5px;
}

@media only screen and (max-width: 650px) {
  #feed-wrapper section#feed #feed-main article {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  #feed-wrapper section#feed #feed-main article {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  #feed-wrapper section#feed #feed-main article {
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  #feed-wrapper section#feed #feed-main article {
    width: 250px;
  }
}

/* [3] END-FEED-TEMPLATE */

/* --------------------------------------------------------- */

/* [4] PERFIL-TEMPLATE */

/* [4] END-PERFIL-TEMPLATE */
